<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--<form action="" method="post">-->
        <!--<label for="">用户名:</label><input type="text" name="username"><br>-->
        <!--<label for="">密码:</label><input type="password" name="password" id=""><br>-->
        <!--<label for="">确认密码:</label><input type="password" name="password2"><br>-->
        <!--<input type="submit" value="提交"><br>-->
        <!--{# 使用遍历获取闪现的消息 #}-->
        <!--{% for message in get_flashed_messages() %}-->
            <!--{{ message }}-->
        <!--{% endfor %}-->
    <!--</form>-->

    <!--<form action="" method="post">-->
        <!--{# 设置csrf_token #}-->
        <!--{{ form.csrf_token() }}-->
        <!--{{ form.username.label }} {{ form.username }} <br>-->
        <!--{{ form.password.label }} {{ form.password }} <br>-->
        <!--{{ form.password2.label }} {{ form.password2 }} <br>-->
        <!--{{ form.input }} <br>-->

    <!--</form>-->
    <form method="post">
        {{ form.csrf_token() }}
        {{ form.username.label }} {{ form.username }}
        {{ form.password.label }} {{ form.password }}
        {{ form.password2.label }} {{ form.password2 }}
        {{ form.submit }}
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </form>
</body>
</html>